<div class="modal-header">
    <h1 class="modal-title fs-5">Delete Connection: {{.connectionsData.CONN_ID}}
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <form action="/connectionDelete/{{.connectionsData.CONN_ID}}" method="post">

        <div class="form-group row mb-1">
            <label for="sourceApp" class="col-sm-2 col-form-label">Source Asset</label>
            <div class="col-sm-10">
                <input type="sourceApp" name="sourceApp" id="sourceApp" class="form-control"
                    value="{{.connectionsData.SOURCE_ASSET_NAME}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="destApp" class="col-sm-2 col-form-label">Destination Asset</label>
            <div class="col-sm-10">
                <input type="destApp" name="destApp" id="destApp" class="form-control"
                    value="{{.connectionsData.DEST_ASSET_NAME}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="proto" class="col-sm-2 col-form-label">Protocol</label>
            <div class="col-sm-10">
                <input type="proto" name="proto" id="proto" class="form-control" value="{{.connectionsData.PROTOCOL}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Encryption Used</label>
            <div class="col-sm-10">
                <input type="enc" name="enc" id="enc" class="form-control" value="{{.connectionsData.ENCRYPTION}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Server Authentication</label>
            <div class="col-sm-10">
                <input type="serverAuth" name="serverAuth" id="serverAuth" class="form-control"
                    value="{{.connectionsData.SERVER_AUTHENTICATION}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Client Authentication</label>
            <div class="col-sm-10">
                <input type="clientAuth" name="clientAuth" id="clientAuth" class="form-control"
                    value="{{.connectionsData.CLIENT_AUTHENTICATION}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Client Authorisation</label>
            <div class="col-sm-10">
                <input type="clientAuthz" name="clientAuthz" id="clientAuthz" class="form-control"
                    value="{{.connectionsData.CLIENT_AUTHORISATION}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Server CRL</label>
            <div class="col-sm-10">
                <input type="serverCRL" name="serverCRL" id="serverCRL" class="form-control"
                    value="{{.connectionsData.SERVER_CRL }}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Client CRL</label>
            <div class="col-sm-10">
                <input type="clientCRL" name="clientCRL" id="clientCRL" class="form-control"
                    value="{{.connectionsData.CLIENT_CRL}}" disabled>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="enc" class="col-sm-2 col-form-label">Connection Description</label>
            <div class="col-sm-10">
                <input type="desc" name="desc" id="desc" class="form-control" value="{{.connectionsData.DESCRIPTION}}" disabled>
            </div>
        </div>

        <div class="modal-footer mt-4">
            WARNING- Deleting an Connection cannot be undone
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>