<div class="modal-header">
    <h1 class="modal-title fs-5">Save and Dowload Map
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <form action="/mapSave" method="post">

        <div class="form-group row mb-1">
            <label for="customFile" class="col-sm-2 col-form-label">Save and Download Map</label>
            <div class="col-sm-10">
                <input type="fn" id="fn" class="form-control" name="fn" placeholder="Map Name - without extension">
            </div>
        </div>

        <div class="modal-footer mt-4">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save</button>
        </div>
    </form>
</div>